body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100%;
}
header{
    font-size: 20px;
    background-color: rgb(174, 174, 221);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
 
}
nav{ 
    
    display: flex; }
.logo{
    margin-top: 32px;

}
nav a{  color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 32px;
    margin-right: 15px;
    justify-items: center;
    text-align: center;
    margin-left: 15px;
    transition: 1s;
}
nav a:hover{
    color: beige;
}
.main{
    height: 497px;
    background-size: cover;
    animation: zoom 2s ease-in-out infinite;
    background-image: url(img/pexels-chokniti-khongchum-2280547_2_85-Copie.jpg);
}
 /* @keyframes zoom {   
    0%
        {
            transform: scale(1,1);
        }
    100%
        {
            transform: scale(1.05,1.05);
        }
    
} */